.bold {
  text-align: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 70%;
}

#abbreviation-table td:first-child {
  font-variant: small-caps;
}

.left-headers th {
  text-align: left;
}

.references a, .references a:hover {
  color: inherit;
  display: block;
  text-indent: -22px;
  padding: 2px 0 2px 30px;
  line-height: 30px;
  background: none;
}
.references a:target {
  background: #f8f8a8;
}

.content p {
  text-indent: 22px;
  line-height: 30px;
}

@media (min-width: 680px) {
  .references {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}