include mixins/tocItem.pug
doctype html
html(lang="en")
    head
        include mixins/html-head.pug
        title= page.title
        if(page.metadata.leipzig)
            include mixins/leipzig.pug
        if(page.metadata.paper)
            link(rel="stylesheet", href="/static/paper.css")
    body
        div(id="table-of-contents")
            div(class="toc-scroller")
                h1 Table of Contents
                div(class="toc-header")
                    a(href="/") home
                        span(class="fa fa-home")
                    - var directory = env.helpers.directory.directoryListingUrl(page)
                    if directory != null
                        a(href=directory) up
                            span(class="fa fa-level-up")
                hr
                +tocItem(1, env.helpers.tocGenerator.tocList(page))
        div(class="page-content")
            != page.html