background_color = #fafafa
darker_background = #eaeaea
text_color = #555
link_color = #4183C4
clean_red = #C13D3D
body
    font: 15px/1.62 sans-serif
    background: background_color
    color: text_color
div.page-content
    margin: 0.5pc auto 150px
    padding: 0 5em
    width: 60em
    text-align: justify
div.scratchpad
    width: 90%
    margin: 0 auto
    border-left: 3px solid #d33
    border-right: 3px solid #d33
    padding: 5px
#table-of-contents
    background: #eee
    height: 100%
    margin-left: -20em
    border-right: 1em solid #888
    overflow-y: scroll
    width: 20em
    position: fixed
    top: 0
    left: 0
    padding: 20px 0
    transition: all .4s ease
    z-index: 899
    &>div
        margin-bottom: 250px
        &>.toc-item
            padding-left: 20px
    &:hover
        margin-left: 0
        border-right-width: 0
        &::before
            margin-top: -30px
    & a
        display: block
    &>h1
        text-align: center
    &::before
        padding-left: 10px
        margin: 0
        display: block
        padding: 3px 6px
        position: fixed
        top: 0
        left: 0
        background: #333
        color: #eee
        z-index: 999
        content: 'TOC'
        font-weight: bold
        transition: all .4s ease
.toc-container
    text-indent: -20px
.toc-header, .toc-footer
    text-indent: 17px
.toc-header>a>span, .toc-footer>a>span
    text-indent: 4px
for n in 1 2 3 4 5 6
    .toc-level-{n}>a
        padding-left: 30px + 10px * n
a, span.a
    padding: 1px 3px
    text-decoration: none
a, h1#top, .blue
    color: link_color
a:hover
    background: link_color
    color: background_color
    transition: all 0.2s ease
h1, h2, h3, h4, h5, h6
    margin: 2px 0
h4
    color: #776
.author
    text-align: center
    font-weight: bold
.center
    text-align: center
    display: block
p, ul
    margin: 4px 0
blockquote
    border-left: 4px solid #ddd
    padding: 0 15px
    color: #777
code, tt
    margin: 0 2px
    padding: 0 5px
    white-space: nowrap
    border: 1px solid #eaeaea
    color: black
    background-color:#fefefe
    border-radius: 3px
img
    border: 1px solid #ddd
    max-width: 100%
    &.center
        margin: 0 auto
        border: none
        display: block
    &[alt="noborder"], &.noborder
        border: none
.link-icon
    visibility: hidden
    width: 0
    margin-right: -10pt // pull adjacent h1 right a little if it's centered
    &::before
        font-size: 13pt
*:hover>.link-icon
    visibility: visible
    color: link_color
    background: none
caption
    text-decoration:underline
table
    vertical-align: top
    border-collapse: collapse
    width: 100%
    table-layout: fixed
    &.auto-layout
        table-layout: auto
    &.auto-wide
        width: auto
    & tr:nth-child(even)
        background: #eee
    & td, & th
        padding: 2px 6px
        vertical-align: middle
    &.tb-center td
        text-align: center
    &.row-headers
        & td:first-child, .row-header
            text-align: left
            font-weight: bold
        & th:first-child
            font-style: italic

.hidden
    display: none
    visibility: hidden
.flex-parent
    display: flex
.flex-child
    flex: 1
    padding: 0 20px
    &:first-child
        padding: 0 20px 0 0
    &:last-child
        padding: 0 0 0 20px
em>em, .small-caps
    font-variant: small-caps
em>em
    font-style: normal
pre
    background: #fefefe
    border: 1px solid #ccc
    font: 13px/19px
    overflow: auto hidden
    padding: 6px 10px
    border-radius: 3px
    & code
        margin: 0
        padding: 0
        white-space: pre
    & code, & tt
        background: transparent
        border: none
dt
    font-weight: bold
div.spell-block
    border-left: 3px solid clean_red
    padding: 4pt 12pt 4pt 20pt
    background: darker_background
    margin-bottom: 12pt
    span:first-child
        font: 18pt bold sans-serif
        margin-left: -8pt
    p
        margin: 0
        line-height: 1.2rem
    p:not(:last-child):not(:nth-child(2))
        font-size: 90%
    p:last-child
        margin-top: 0.4rem
        text-indent: 2em
/*
pre code{margin:0;padding:0;white-space:pre;border:none;background:transparent}
pre{background:#fefefe;border:1px solid #cccccc;font-size:13px;line-height:19px;overflow:auto;overflow-y:hidden;width:97%;padding:6px 10px;border-radius:3px}
pre code,pre tt{background:transparent;border:none}

.alternate-rows tr:nth-child(even) td:first-child{
  background-color:#4183C4;
}
.container{margin:0;padding:0;border:none;}
sc{display:inline;padding:0;margin:0}
sc,em>em{font-variant:small-caps;}
em>em{font-style:normal}

@media screen{
  #nav{background:#eee;z-index:5;height:100%;margin-left:-260px;border-right:20px solid #888;transition:all 0.4s ease;overflow-y: scroll;}
  #nav:hover,#nav.testing{margin-left:0;padding:0 20px;border-right-width:0;}
  #tocm{padding:3px 6px;position:fixed;top:0;left:0;background:#000;color:#fff;z-index:20;transition:all 0.4s ease;display:block;}
  #nav:hover #tocm,#nav.testing #tocm{margin-top:-30px;}
}
@media print{
  html,body,p a,ul a{color:#000;}
  #toc{display:block;}
  #nav{position:static;}
  body{padding-left:24px;}
}
table.row-headers tbody th,table.row-headers td:first-child,.__trh{font-weight:bold;text-align:left !important}
ol.glossed-samples table,ol.glossed-samples td{border-collapse:collapse;border:1px solid #888}
ol.glossed-samples thead{display:none}
*/
