include mixins/tocItem.pug
doctype html
html(lang="en")
    head
        include mixins/html-head.pug
        title= page.title
        if(data.leipzig)
            include mixins/leipzig.pug
        if(data.paper)
            link(rel="stylesheet", href="/static/paper.css")
    body
        div(id="table-of-contents")
            div(class="toc-scroller")
                h1 Table of Contents
                div(class="toc-header")
                    a(href="/") home
                        span(class="fa fa-home")
                    - const parent = context.directory.parentLink(pugContext)
                    if parent != null
                        a(href=parent) up
                            span(class="fa fa-level-up")
                hr
                +tocItem(1, context.tocGenerator.tocList(page))
        div(class="page-content")
            != page.content
