meta:
    # `name` is the name that appears at the top of the sidebar, and the title of the page. 
    name: 'Naretsov Lexicon'
    # `search` is the placeholder text that appears in the search box
    search: 'search'
    # `numresults` is the number of results that will appear on the search page.
    numresults: 25
    # `noresults` is the text to display on the search page when no results have been found.
    noresults: '_No results found._'
    # `searchPath` is used to specify the search path
    searchPath: 'q'
    # `sidebar` is the text that appears below the search box. It is markdown-enabled.
    sidebar: '''
        \\- [home](#/main)\n
        \\- [all entries](#/q//.*/)\n
        ---
        \\- [home](/)\n
        \\- [up](../../)
        \\- [grammar](../)
        '''
    # `style` is extra css style text. Be sure to escape your backslashes!
    style: ''
    # `further` is used to specify additional json resources to load.
    further: ['resources/lexicon-2.cson']
    # `lexicon` is used to specify the lexicon path
    lexicon: 'w'
    # `defaults` are the default formatting methods for each section.
    # '*' is the default formatting for all sections.
    defaults:
        '*':
            type: 'definition',
            level: 3
        Pronunciation:
            type: 'bullet-list',
        'Usage notes':
            type: 'p',
            level: 4
        Note:
            type: 'p'
            level: 5
        'Derived terms':
            type: 'word-link-list'
        Etymology:
            type: 'p'

page: # these pages are required.
    main: '''
        # Lexicon
        Welcome to the __Naretsov Lexicon__. To find a word, use the search box in the sidebar.
        '''

    missing: '''
        # 404
        \nThe requested resource was not found.
        '''
    # Arguments:
    #  - {0}: the search term.
    #  - {1}: the search results (a block)
    search: '''
        # Search for: {0}
        ---
        \n{1}
        '''
    # Arguments:
    #  - {0}: the word
    #  - {1}: the word's lexicon content
    lexicon: '''
        # {0}
        ---
        \n{1}
        '''
