lexicon:
    yan:
        Pronunciation: '/ˈjan/'
        Noun:
            head:
               plural: 'yeman'
            def: 'An individual.'
    yeman:
        Pronunciation: '/ˈje̞man/'
        Noun: '*plural of* [[yan]]'
    so:
        Pronunciation: '/ˈso̞/'
        Verb:
            head:
                infinitive: ['häsone','sonó']
                perfect: 'soyo'
                future: 'soya'
                'prs gnomic': 'oso'
            def: ['(instransitive) to emit light', '(transitive) to illuminate', '(intransitive, figuratively) to smile broadly or especially cheerfully']
    häsone: {redirect: "/w/so"},
    sonó: {redirect: "/w/so"},
    soyo: {redirect: "/w/so"},
    soya: {redirect: "/w/so"},
    oso: {redirect: "/w/so"},
    zal:
        Pronunciation: '/ˈzal/'
        Noun:
            head:
                plural: 'zemal'
            def: ['The primary star in a star system; the sun.', 'A star.']
    zemal:
        Pronunciation: '/ˈze̞mal/'
        Noun: '*plural of* [[zal]]'
    es:
        Pronunciation: '/ˈe̞s/'
        Particle: '''
                  Marks the present progressive.
                   - When used with a present-tense verb, denoting true present progressive (am verb-ing).
                   - When used with a past-tense verb, denoting present perfect progressive (have been).
                   - When used with a future-tense verb, denoting a progressive from now onward (am and will be verb-ing).
                  '''
    os:
        Pronunciation: '/ˈo̞s/'
        Particle: '''
                  Marks the past progressive.
                   - (*uncommon*) When used with a present-tense verb, denoting present perfect progressive (have been).
                   - When used with a past-tense verb, denoting past progressive (was verb-ing).
                   - (*rare*) When used with a future-tense verb, denoting a progressive in the past and future, but not necessarily the present, i.e. "I was verb-ing, and will be verb-ing, but that's not necessarily what I'm doing right now."
                  '''
    as:
        Pronunciation: '/ˈas/'
        Particle: 'Marks the future progressive.'
    ir:
        Pronunciaiton: '/ˈiʁ/'
        Numeral: 'two'
        'Derived terms': 'irceci'
    irceci:
        Etymology: 'Derived from [[ir]] with the temporal suffix [[-ce]] and the adverbializer [[-ci]].'
        Pronunciation: ['/iʁˈtɕe̞.tɕi/', '/iʁˈtɕe̞.tɕ/ (non-standard)']
        Adverb: ['again', 'twice']
    '-ce':
        Pronunciation: '/tɕe̞/'
        Suffix: 'temporal case'
    '-ci':
        Pronunciation: 'tɕi'
        Suffix: ['an adjectivizer', 'an adverbializer']
    dasyärce:
        Etymology: 'Derived from [[das]] with the *_post_* suffix [[-yär]] and the temporal suffix [[-ce]].'
        Pronunciation: '/dasˈjæʁ.tɕe̞/'
        Adverb: ['tomorrow', 'the day after']
    '-yär':
        Pronunciation: '/jæʁ/'
        Suffix: 'Denotes a position following, behind, or after the stem.\n - __zalyär__, \'behind the sun\' or \'trailing after the sun\''
        Note: 'There may be some confusion when this suffix is used regarding times. When speaking of time, use \'after\' rather than \'behind\'.'
    '-n':
        Pronunciation: '/n/'
        Suffix: 'a nominalizer'
    son:
        Etymology: 'Derived from the verb [[so]] with the nominalizer [[-n]].'
        Pronunciation: '/so̞n/'
        Noun: 'light, a light'
    ette:
        Pronunciation: '/e̞tte̞/'
        Adverb: 'now'
    etten:
        Etymology: 'Derived from the adverb [[ette]] with the nominalizer [[-n]]'
        Noun: 'the present time, the now.'
    sonruci:
        Etymology: 'Derived from the noun [[son]] with the augmentative suffix [[-ru]] and the adjectivizer [[-ci]].'
        Pronunciation: ['/so̞nˈʁu.tɕi/', '/so̞nˈʁutɕ/ (non-standard)']
        Adjective: ['bright, luminous', 'eye-catching']
        Adverb: 'brightly'
    ooce:
        Pronunciation: '/o̞tɕe̞/'
        Verb:
            head:
                infinitive: ['häyoocne', 'oocnó']
                perfect: 'ooco'
                future: 'ooca'
                'present gnomic': 'oyooce'
            def: ['(intransitive) to bloom','(metaphoric, intransitive) to come over the horizon', '(transitive) to become']
    häyoocne: {redirect: "/w/ooce"},
    oocnó: {redirect: "/w/ooce"},
    ooco: {redirect: "/w/ooce"},
    ooca: {redirect: "/w/ooce"},
    oyooce: {redirect: "/w/ooce"},
    pane: '''
        ### Pronunciation
        - /pane̞/
        \n
        ### Verb
        __pane__ (*infinitive* [häpanne](#/w/häpanne) *or* [pannó](#/w/pannó), *perfect* [pano](#/w/pano), *future* [pana](#/w/pana), *present gnomic* [apane](#/w/apane))
        \n
        1. (intransitive) to shout
        2. (transitive) to shout
        ''',
    häpanne: {redirect: "/w/pane"},
    pannó: {redirect: "/w/pane"},
    pano: {redirect: "/w/pane"},
    pana: {redirect: "/w/pane"},
    apane: {redirect: "/w/pane"},
    '-ru':
        Pronunciation: '/ʁu/'
        Suffix: 'An augmentative suffix.'
        'Usage notes': "__-ru__ is usually attached to nouns that have become adjectives; it is unusual in it's placement: though the word is an adjective, it comes before the adjectivizer."
    fyen:
        Pronunciation: '/fje̞n/'
        Adjective: 'all'
        Noun: 'all, everything, everyone'
    vari:
        Pronunciation: '/vaʁi/'
        Adjective: 'some'
        'Usage notes': 'Only for uncountable nouns; otherwise, use [[varin]].'
        'Derived terms': 'varin'
    '-vó':
        Pronunciation: '/vɘ/'
        Suffix: 'marks the partative case'
    one:
        Pronunciation: '/o̞ne̞/'
        Adjective: 'many'
        'Usage notes': 'Only for uncountable nouns; otherwise, use [[onen]].'
        'Derived terms': ['one', 'onece']
    varin:
        Pronunciation: '/ˈvaʁin/'
        Noun: 'a group'
        'Counting Noun': 'some'
        'Usage notes': "When referring to some of some countable noun, place that noun in the partative case preceding __varin__. For uncountable nouns, see [[vari]]."
    onen:
        Pronunciation: '/ˈo̞ne̞n/'
        Noun: 'a large group'
        'Counting Noun': 'many'
        'Usage notes': "When referring to some of some countable noun, place that noun in the partative case preceding __onen__. For uncountable nouns, see [[one]]."
    onece:
        Pronunciation: '/o̞ˈne̞tɕe̞/' 
        Adverb: 'often'
    '<em>':
        Pronunciation: '/e̞m/'
        Infix:
            head: 'functions on nouns, placed before the first nucleus'
            def: 'marks the plural number'
    tom:
        Pronunciation: '/to̞m/'
        Noun: 'happiness'
        'Derived terms': 'tomci'
    tomci:
        Pronunciation: ['/ˈto̞mtɕi/','/ˈto̞mtɕ/ (non-standard)']
        Adjective: 'happy'
        Adverb: 'happily'
